@{
    ViewData["Title"] = "Home Page";
}
@using BuyBikeShop.Data.Enum
@model IEnumerable<BuyBikeShop.Models.Product>

<div class="container">
   
    <div class="row mt-3">
      
        <div class="col-md-6">
            <div style="height: 430px;">
                <video autoplay muted loop id="video-background" poster="placeholder.jpg" style="width: 100%;">
                    <source src="~/assets/XLITE - The fastest race bike we have ever developed_ Tech Details.mp4" type="video/mp4">
                </video>
                <div class="col-md-12" style="padding-bottom: 30px;">
                    <p class="lead">
                        <h1 style="font-weight: 900; font-size: 40px; margin-top: -18px; margin-left: 10px;"><u>Purchase Your Next Adventure</u></h1>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div id="carouselExampleControls" class="carousel slide" data-bs-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/assets/william-hook-pa0rr3rVB-U-unsplash.jpg" class="d-block w-100" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 style="margin-top: 232px; color: antiquewhite; font-weight: 600; line-height: 1;">Dive into an dventure and <br>  discover epic cycling routes!</h3>
                            <p style="margin-bottom: 150px;  color: white">Explore stunning cycling routes offering <br> unforgettable adventures.</p>
                            <a href="https://www.alltrails.com/israel/road-biking" class="btn btn-primary" style="background-color: #393434; border: 2px solid white; margin-bottom: 17px; margin-right: 222px; width: 97px; height: 40px; transition: all 0.5s ease;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">Click here</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/assets/tiffany-nutt-0ClfreiNppM-unsplash.jpg" class="d-block w-100" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 style="margin-top: 232px; color: black; font-weight: 600; line-height: 1;">How to Select the Right Bike</h3>
                            <p style="margin-bottom: 150px;  color: black">Discover your dream bike effortlessly with our expert guidance, we're here to make your journey smooth.</p>
                            <a href="https://www.bikeexchange.com.au/blog/choosing-the-right-bike-bicycle-buying-advice" class="btn btn-primary" style="background-color: #393434; border: 2px solid white; margin-bottom: 17px; margin-left: 280px; width: 97px; height: 40px; transition: all 0.5s ease;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">Click here</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/assets/munbaik-cycling-clothing-iZJrOqEaPNI-unsplash.jpg" class="d-block w-100" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 style="margin-top: 172px; margin-left: 250px; color: #4E4F4F; font-weight: 900; line-height: 1;">Let's Ride Together! <br /> Join Our Community Adventures</h3>
                            <p style="margin-bottom: 2px;  color: white"></p>
                            <a href="http://www.groopy.co.il/general.aspx?id=english" class="btn btn-primary" style="background-color: #393434; border: 2px solid white; margin-bottom: 17px; margin-left: 122px; width: 97px; height: 40px; transition: all 0.5s ease;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">Click here</a>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4 p-3" style="width:100%; background-color:#e8e8e8">
    <div class="row justify-content-between align-items-center">
        <h4 class="col-md-3" style="font-weight: 300; color: #333;">Filtering Options :</h4>
        <div class="col-md-6">
            @foreach (var en in Enum.GetValues(typeof(ProductCategory)))
            {
                <div class="form-check form-check-inline">
                    <input class="form-check-input" value="@en.ToString()" type="checkbox" id="category-@en.ToString()" name="categories">
                    <label class="form-check-label" for="category-@en.ToString()">@en.ToString()</label>
                </div>
            }
            <label for="priceRangeMin">Min: </label>
            <input type="text" id="priceRangeMin" placeholder="Min Price" style="width:80px;font-size:90%;" class="border rounded-2 mx-1" />
            <label for="priceRangeMax">Max: </label>
            <input type="text" id="priceRangeMax" placeholder="Max Price" style="width:80px;font-size:90%;" class="border rounded-2 mx-1" />

        </div>
        <div class="col-md-3">
            <form class="input-group" method="get" asp-controller="Home" asp-action="Index" id="sortForm">
                <label class="input-group-text" for="sortOption">Filter By:</label>
                <select class="form-select" id="sortOption" name="sortOption">
                    <option selected>Choose...</option>
                    <option value="lowToHigh">Price Low to High</option>
                    <option value="highToLow">Price High to Low</option>
                    <option value="mostRating">Most Rating</option>
                    <option value="specificDate">Release Date</option>

                </select>
            </form>
        </div>
    </div>
</div>



<div id="products-list">
    <partial name="_ProductsPartialView" model="Model" />
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(window).on('beforeunload', function () {
                clearAllFilters();
            });
            $('input[type="checkbox"][name="categories"], #sortOption, #priceRangeMin, #priceRangeMax').on('change', function () {
                updateProductsList();
            });

            function updateProductsList() {
                var selectedCategories = $('input[type="checkbox"][name="categories"]:checked').map(function () {
                    return $(this).val();
                }).get();

                var sortOption = $('#sortOption').val();
                var minPrice = $('#priceRangeMin').val();
                if (isNaN(parseFloat(minPrice)) || !isFinite(minPrice)) {
                    $('#priceRangeMin').val("");
                    minPrice = "";
                }
                var maxPrice = $('#priceRangeMax').val();
                if (isNaN(parseFloat(maxPrice)) || !isFinite(maxPrice)) {
                    $('#priceRangeMax').val("");
                    maxPrice = "";
                }
                var priceRange = minPrice + "&" + maxPrice;
                $.ajax({
                    url: '@Url.Action("GetFilteredProducts", "Home")',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        CategoriesChosen: selectedCategories,
                        sortOption: sortOption,
                        priceRange: priceRange,
                    },
                    success: function (result) {
                        $('#products-list').html(result);
                    },
                    error: function () {
                        console.log("Error occurred while updating products list.");
                    }
                });
            }
            function clearAllFilters() {
                $('#sortOption').val("");
                $('#priceRangeMin').val("");
                $('#priceRangeMax').val("");
                $('input[type="checkbox"][name="categories"]').prop('checked', false);
            }
        });
    </script>
}
